html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    background-color:#0f1111;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
    transition: all 0.2s ease;
}

.border:hover{
    border: 1.5px solid wheat;
}

/** box2 **/

.address1{
    color: wheat;
    font-size: 0.85rem;
    margin-left: 15px;
}

.address2{
    font-size: 1rem;
    margin-left: 1px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/** box3 **/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    transition: border 0.2s ease;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;

}

.nav-search:hover{
    border: 2px solid orange;
}

/** BOX4 **/

.india{
    margin-left: 0.3rem;
}

.india-icon{
    display: flex;
    align-items: center;
}

/** box 5 **/

.Hello{
    font-size: 0.7rem;
}

.nav2{
    font-size: 0.85rem;
    font-weight: 700;
}

/** box6 **/

.nav-cart i{
    font-size: 25px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/** PANEL **/

.panel {
    height: 40px;
    background-color:rgb(42, 42, 52);
    display: flex;
    color: #f3f3f3;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
    margin-right: 10px;
}

/** hero section **/

.hero-section{
    background-image: url("lionel-messi-4000x2333-9798.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-section h3{

}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-msg{
    background-color: black;
    color: whitesmoke;
    border-radius: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 58%;
    margin-bottom: 25px;
    animation: fadeInUp 0.8s ease-out;
    transition: transform 0.2s;
}

.hero-msg:hover {
    transform: scale(1.02);
}

.hero-msg a{
    color: #e3b127;
}

/** shop section **/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:rgb(42, 42, 52);
}

.box{
    height: 400px;
    width: 23%;
    background-color: whitesmoke;
    padding: 20px 0px 15px;
    margin-top: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 10px;
}

.box-content p{
    color: #007185;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;
}

.box-content p:hover {
    color: #C7511F;
    text-decoration: underline;
}

/** footer**/

footer{
    margin-top: 15px;
}

.foot-panel{
    background-color: rgb(42, 42, 52);
    color: whitesmoke;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.85rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.foot-panel:hover {
    background-color: #37475a;
}

.foot-panel2{
    background-color: black;
    color: wheat;
    font-weight: bold;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 50px;
}

ul a{
    display: flex;
    font-size: 0.85rem;
    margin-top: 10px;
    color: aliceblue;
    transition: text-decoration 0.2s;
}

ul a:hover {
    text-decoration: underline;
}

.foot-panel3{
    background-color: black;
    color: whitesmoke;
    border-top: 0.5px solid whitesmoke;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
